<div class="my-auto flex flex-col items-center gap-5 p-5 bg-neutral-50 rounded-md border-2 shadow-sm text-center">
  <h1 class="text-6xl font-bold">500</h1>
  <p>Something went wrong.</p>
  <%= link_to "Take me back", root_path, class: "cursor-pointer w-full rounded border-2 border-eggplant bg-eggplant text-neutral-50 uppercase tracking-widest py-1 hover:bg-neutral-50 hover:text-eggplant" %>
</div>