<div class="my-auto flex flex-col items-center gap-5 p-5 bg-neutral-50 rounded-md border-2 shadow-sm text-center dark:bg-neutral-800 dark:border-neutral-700">
  <h1 class="text-6xl font-bold">404</h1>
  <p>The page you're looking for could not be found.</p>
  <%= link_to "Take me back", root_path, class: "cursor-pointer w-full rounded border-2 border-eggplant bg-eggplant text-neutral-50 uppercase tracking-widest py-1 hover:bg-neutral-50 hover:text-eggplant dark:bg-mint dark:border-mint dark:text-neutral-900 dark:hover:bg-neutral-800 dark:hover:text-neutral-50" %>
</div> 