/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article,
small {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

:root {
  color-scheme: light dark;
  /* shoe color indicators */
  --blue: rgb(68, 69, 147);
  --green: rgb(135, 202, 191);
  --yellow: rgb(235, 163, 94);
  --red: rgb(238, 122, 118);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 5vw;
}

button {
  cursor: pointer;
}

.button__transparent {
  border: none;
  outline: none;
  background-color: transparent;
}

.button__transparent svg {
  height: 20px;
  width: 20px;
}

.shoe.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(310px, 80vw, 800px);
}

.card {
  padding: 1rem;
  border-radius: 5px;

  border: 1px solid black;
}

.shoe.card {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1rem;
}

.shoe.card h3 {
  display: flex;
  gap: 0.5rem;

  text-transform: capitalize;
}

.shoe.card h3 span {
  font-weight: normal;
  text-transform: uppercase;
}