<div class="shoe wrapper">
  <ul class="tabs">
    <li>All</li>
    <li>Daily Trainers</li>
    <li>Speed</li>
    <li>Race</li>
  </ul>
  
  <h1>Current Rotation</h1>

  <div>NEW SHOE FORM PLACEHOLDER</div>

  <ul id="shoes">
    <%= render @shoes %>
  </ul>
</div>