<div class="w-[clamp(300px,_80vw,_1000px)] flex flex-col gap-2 border">
  <h1 class="text-3xl font-semibold uppercase tracking-wider">Shoe Details</h1>
  
  <ul class="flex flex-col gap-3">
    <%= render @shoe, show: true %>
  </ul>

  <ul id="runs" class="flex flex-col gap-3" data-controller="sort">
    <%= render @runs %>
  </ul>

  <div class="">
    <% if @pagy.prev %>
      <%= link_to "< Previous", shoe_path(page: @pagy.prev), class: "float-left" %>
    <% end %>
    <% if @pagy.next %>
      <%= link_to "Next >", shoe_path(page: @pagy.next), class: "float-right" %>
    <% end %>
  </div>
</div>