
<nav role="navigation" class="flex flex-col gap-5">
  <p>archive</p>

  <p>my runs</p>

  <%= link_to edit_user_registration_path do %>
  <div class="">
    <%#= render partial: "shared/cog" %>
    <p class="">account</p>
  </div>
<% end %>

<%= button_to "Logout", 
    destroy_user_session_path, 
    data: {turbo: "false"}, class: "button", method: :delete %>
</nav>